<div class="contactsMainContainer">
    <div id="contactsBar" class="contactsBar">
        <div id="contactList" class="contactList">
<!--            <div id='contactContainer${i}' class="contactContainer">
                <div class="letter">
                    <div>${letter}</div>
                </div>
                <div class="contactsHline"></div>
                <div id="sortedContacts${i}" class="sortedContacts">
                </div>
            </div> -->
        </div>
    </div>

    <div id="contactsContainer" class="contactsContainer">
        <div class="contactsContentHeaderContainer">
            <div class="contactsContentHeader">
                <div class="contactsTopNavBarText">Kanban Project Management Tool</div>
                <div>
                    <h1>Contacts</h1>
                </div>
                <div class="contactsVline"></div>
                <div>
                    Better with a team
                </div>
                <div class="contactsVline2"></div>
            </div>
            <div onclick="backToContactsList()">
                <img src="../img/arrowLeft.svg">
            </div>
        </div>


        <div id="contactsContent" class="contactsContent">
<!--              <div class="contactDetails" id="contactDetails">
                <div>
                    <div>
                        <div class="contactIconBig">
                            <span>AM</span>
                        </div>
                    </div>
                    <div class="contactDetailsName">
                        <div class="name">
                            <div>
                                <span>Anton</span>
                                <span>Mayer</span>
                            </div>
                        </div>
                        <div class="addTask">
                            <img src="../img/plus.svg"><span>Add Task</span>
                        </div>
                    </div>
                </div>

                <div class="contactInformation">
                    <div>
                        <div class="contactInformationHeader">
                            <div>
                                <span>Contact Information</span>
                            </div>
                            <div calss="editContact">
                                <img src="../img/edit.svg">
                                <span>Edit Contact</span>
                            </div>
                        </div>

                        <div class="contactInformationMain">
                            <div>
                                <span>Email</span>
                                <a href="antom@gmail.com">antom@gmail.com</a>
                            </div>
                            <div>
                                <span>Phone</span>
                                <a href="tel:+491111111111">+49 1111 111 11 1</a>
                            </div>
                        </div>
                    </div>


                    <div class="deleteContact">
                        <div onclick="deleteContact()">
                            <span>Delete contact</span>
                            <img src="../img/delete.svg">
                        </div>
                    </div>
                </div>
            </div>
        -->
        </div>
    </div>

    <button id="newContactButton" class="newContactButton" onclick="newContact()">
        <span>New contact</span>
        <img src="../img/newContact.svg">
    </button>
</div>

<!-- ======================== AddContacts Overlay ======================== -->

<!--
<div id="addContactBackground" class="addContactBackground" onclick="closePopup()">

    <div class="addContactContainer" onclick="doNotClose(event)">
        <div class="addContactLeftSide">
            <img src="../img/logo.svg">
            <h1>Add contact</h1>
            <span>Task are better with a Team!</span>
            <div></div>
        </div>

        <div class="addContactRightSide">
            <div class="contactImg">
                <div>
                    <img src="../img/addUserIcon.svg">
                </div>
            </div>
            <div class="contactInfo">
                <div>
                    <div onclick="canclePopup()">
                        <img src="../img/close.svg">
                    </div>
                </div>
                <div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="contactName" class="inputFields" type="text" placeholder="Name" required />
                            <img src="../img/userIcon.svg" class="img" />
                        </div>
                    </div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="contactSurname" class="inputFields" type="text" placeholder="Surname"
                                required />
                            <img src="../img/userIcon.svg" class="img" />
                        </div>
                    </div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="contactEmail" class="inputFields" type="email" placeholder="Email" />
                            <img src="../img/letter.svg" class="img" />
                        </div>
                    </div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="contactPhone" class="inputFields" type="number" placeholder="Phone"
                                required />
                            <img src="../img/phone.svg" class="img" />
                        </div>
                    </div>
                    <div class="buttons">

                        <button class="cancleButton" onclick="canclePopup()">
                            <span>Cancle</span>
                            <img src="../img/cancel.svg">
                        </button>
                        <button class="createContact" onclick="createContact()">
                            <span>Create contact</span>
                            <img src="../img/tick.svg">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
            
<!-- ======================== Edit Contacts Overlay ======================== -->

<!-- 
<div id="editContactBackground" class="addContactBackground" onclick="closePopup()">

    <div class="addContactContainer" onclick="doNotClose(event)">

        <div class="addContactLeftSide">
            <img src="../img/logo.svg">
            <h1>Edit contact</h1>
            <span>Task are better with a Team!</span>
            <div></div>
        </div>

        <div class="addContactRightSide">
            <div id="contactImg" class="contactImg"> -->

        <!--    <div>
                    <img src="../img/addUserIcon.svg">
                </div>              -->
            

<!--          
            </div>
            <div class="contactInfo">
                <div>
                    <div onclick="canclePopup()">
                        <img src="../img/close.svg">
                    </div>
                </div>
                <div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="editContactName" class="inputFields" type="text" placeholder="Name"
                                required />
                            <img src="../img/userIcon.svg" class="img" />
                        </div>
                    </div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="editContactSurname" class="inputFields" type="text" placeholder="Surname"
                                required />
                            <img src="../img/userIcon.svg" class="img" />
                        </div>
                    </div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="editContactEmail" class="inputFields" type="email" placeholder="Email" />
                            <img src="../img/letter.svg" class="img" />
                        </div>
                    </div>
                    <div class="inputContainer">
                        <div class="inputFieldContainer">
                            <input id="editContactPhone" class="inputFields" type="number" placeholder="Phone"
                                required />
                            <img src="../img/phone.svg" class="img" />
                        </div>
                    </div>
                    <div class="buttons editButton" id="saveChangesButton">
                    -->
                    <!--    <button class="createContact" onclick="saveChanges()">
                                <span>Save</span>
                            </button>               --> 
<!--        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--

    ================================== SNACKBAR INPUT REQUIRED ======================================= 
<div id="inputRequired">Input required</div>

 ================================== SNACKBAR CONTACT CREATED ======================================= 
<div id="contactCreated">Contact succesfully created</div>

 ================================== SNACKBAR CHANGES SAVED ======================================= 
<div id="contactChangesSaved">Changes saved</div>

-->