<div class="addTaskHeadline"></div>
<div class="addTaskMainContainer">
    <div class="addTaskMainSubContainer">
        <form onsubmit="createTask();return false">
            <h1>Add Task</h1>
            <div class="addTaskContainer">
                <div class="addTaskLeftandRightContainer">
                    <div class="selectionContainer preventSelect">
                        <span>Title</span>
                        <input placeholder="Enter a title" id="title" class="titleInput">
                    </div>

                    <div class="selectionContainer preventSelect">
                        <span>Description</span>
                       <textarea placeholder="Enter a description" id="description"></textarea>
                    </div>

                    <div class="selectionContainer preventSelect">
                        <span>Category</span>
                        <div class="selectWrapper selectWrapperHeight" id="selectCategoryForm" onclick="openDropdown('categoryChoices')">
                            <div class="sectorTop">
                                <p id="selectCategory">Select task category</p><img src="/img/arrow.svg">
                            </div>
                            <div class="categoryChoices d-none" id="categoryChoices">
                                <div class="category">
                                    <div id="marketing">Marketing </div>
                                    <div class="circle" style="background: #0038ff;"></div>
                                </div>
                                <div class="category">
                                    <div id="media">Media </div>
                                    <div class="circle" style="background: #ffc702;"></div>
                                </div>
                                <div class="category">
                                    <div id="backoffice">Backoffice </div>
                                    <div class="circle" style="background: #1FD7C1;"></div>
                                </div>
                                <div class="category">
                                    <div id="design">Design </div>
                                    <div class="circle" style="background:  #ff7a00;"></div>
                                </div>
                                <div class="category">
                                    <div id="sales">Sales </div>
                                    <div class="circle" style="background: #fc71ff;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="selectionContainer preventSelect">
                        <span>Assigned To</span>
                        <div class="selectWrapper selectWrapperHeight assignedToWrapper" id="assignedTo">
                            <div class="sectorTop" onclick="openDropdown('assignedToChoices')">
                                <p id="assignedToHeader">Select contacts to assign</p><img src="/img/Vector 2.png">
                            </div>
                            <div class="assignedToChoices d-none" id="assignedToChoices">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="middleGap"></div>

                <div class="dueDateAndClearCreateButton">
                    <div class="addTaskLeftandRightContainer">
                        <div class="selectionContainer preventSelect">
                            <span>Due date</span>
                            <input class="date" type="date" id="dueDate">
                        </div>

                        <div class="selectionContainer preventSelect">
                            <span>Prio</span>
                            <div class="prioButtons" id="priority">
                                <button class="urgent prioButton" id="urgent" type="button" onclick="selectUrgent()">
                                    Urgent
                                    <img id="imgUrgent" src="img/urgent.svg">
                                </button>
                                <button class="medium prioButton" id="medium" type="button"onclick="selectMedium()">
                                    Medium
                                    <img id="imgMedium" src="img/medium.svg">
                                </button>
                                <button class="low prioButton" id="low" type="button" onclick="selectLow()">
                                    Low
                                    <img id="imgLow" src="img/low.svg">
                                </button>
                            </div>

                            <div class="featuresContainer">
                                <span>Subtasks</span>
                                <div class="subtaskContainer">
                                    <input class="subtaskInput" onclick="inputChangeSubIcons()" placeholder="Add new subtask" id="subtask">
                                    <div class="subtaskImgContainer">
                                        <img id="clearSubtaskImg" src="../img/icon_cancel_subtask.svg" onclick="clearSubtask()" class="subtaskIcons d-none">
                                        <div class="gapImgSubtask"></div>
                                        <img id="plusSubtaskImg" class="plusIcon" src="../img/plus-icon.png" onclick="changeSubIcon()">
                                        <img id="addSubtaskImg" src="../img/icon_check_subtask.svg" onclick="addSubtask()" class="subTaskIcons d-none">
                                    </div>
                                </div>
                                <div class="subtaskList" id="subtaskList">
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="clearAndCreateButton">
                        <div><button type="button" class="clearButton" onclick="clearAllInputs()">Clear<img class="clear-img" src="../img/iconoir_cancel.svg"></button></div> 
                        <div><button type="submit" onsubmit="createTask()" class="createTaskButton">Create Task<img src="../img/akar-icons_check.svg"></button></div>
                        <button class="addTaskMobile d-none"><img src="../img/add_task_btn_mob.svg" alt="Create task button"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- ================================== SNACKBAR missing SIGNE UP ======================================= -->
<div id="missingSignedUpTask">Oops there is probably a value missing</div>
