<!-- Desktop:SidebarLeft Mobil:SidebarBottom -->
<div class="sideNavBar">
    <div class="sideNavBarList">
        <div>
            <a onclick="displayPage('mainSummaryContainerDisplay'), counters()" class="sideNavBarTask"><img src="/img/summary.svg"
                    class="svg"><span>Summary</span></a>
        </div>
        <div>
            <a onclick="displayPage('mainBoardContainerDisplay'), updateHTML()" class="sideNavBarTask"><img src="/img/board.svg" class="svg"><span>Board</span></a>
        </div>
        <div>
            <a onclick="displayPage('mainAddTaskContainerDisplay')" class="sideNavBarTask"><img src="/img/addtask.svg" class="svg"><span>Add
                    Task</span></a>
        </div>
        <div>
            <a onclick="displayPage('mainContactsContainerDisplay'), renderLetters()"  class="sideNavBarTask"><img src="/img/contacts.svg"
                    class="svg"><span>Contacts</span></a>
        </div>

        <div class="sideNavBarLegalNotice">
            <a onclick="displayPage('mainLegalNoticeContainerDisplay')" class="sideNavBarTask"><img src="/img/legalnotice.svg" class="svg">Legal
                Notice</a>
        </div>
    </div>
</div>