<div class="placeholderTop">
    <div>
        <img src="img/blacklogo.svg" class="blackLogo" />
    </div>
    <div class="topNavBarLeftText">Kanban Project Management Tool</div>
    <div class="topNavBarRightImg">
        <a onclick="displayPage('mainLegalNoticeContainerDisplay')">
            <img src="../img/legalnotice.svg" class="topNavBarRightImgExclamationmark">
        </a>
        <a onclick="displayPage('mainhelpContainerDisplay')">
            <img src="../img/questionmark.svg" class="topNavBarRightImgQuestionmark">
        </a>
        <img src="../img/user.svg" id="topNavBarRightImgPicture" class="topNavBarRightImgPicture" onclick="toggleLogoutButton()">
        <div id="logoutButton" class="logoutButton" onclick="backToLoginScreen()">
            <span>Logout</span>
        </div>
    </div>
</div>