.d-none {
  display: none !important;
}

.redBorder {
  border: 2px solid red !important;
}

input,
select,
.selectWrapper {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 400;
  padding: 13px 21px;
  background-color: white;
  outline: none;
}

/* input:valid, textarea:valid {
  border: 4px solid green;
}

input:invalid {
  border: 4px solid red;
} */

.selectWrapperHeight {
  padding: 0px;
}

select {
  appearance: none;
  background: url(/img/arrow.svg) 96% / 3% no-repeat white;
  cursor: pointer;
}

textarea {
  min-height: 119px;
  border: 1px solid #d1d1d1;
  border-radius: 10px 10px 2px 10px;
  padding: 1rem;
  outline: none;
  resize: vertical;
  font-size: 21px;
  font-weight: 400;
}

select::-ms-expand {
  display: none;
  /* Standardpfeil im IE 10 und 11 entfernen */
}

/* .addTaskMainContainer button {
  border: none;
} */

span {
  font-weight: 400;
  font-size: 21px;
}

.addTaskMainContainer {
  height: calc(100vh - 89px);
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

.addTaskMainSubContainer {
  height: 100%;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: auto;
}

.addTaskMainSubContainer h1 {
  font-size: 61px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ================================ SCROLLBAR ====================================== */

.addTaskMainSubContainer::-webkit-scrollbar {
  width: 10px;
  scrollbar-gutter: stable;
}

/* .contactList::-webkit-scrollbar-track {
  background-color: white;
} */

.addTaskMainSubContainer::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 2px solid white;
  border-radius: 6px;
}

.addTaskMainSubContainer::-webkit-scrollbar-button {
  color: #a8a8a8;
}

.addTaskMainSubContainer::-webkit-scrollbar-button {
  display: block;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.addTaskMainSubContainer::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url(../img/upArrow.svg);
  background-size: 10px 4px;
}

.addTaskMainSubContainer::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

.addTaskMainSubContainer::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

.addTaskMainSubContainer::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url(../img/downArrow.svg);
  background-size: 10px 4px;
}

/* ================================================================================== */

.createTaskForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.addTaskContainer {
  display: flex;
  gap: 30px;
}

.addTaskLeftandRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.preventSelect {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.assignedToWrapper {
  margin-bottom: 30px;
}

.sectorTop {
  display: flex;
  justify-content: space-between;
  line-height: 0;
  align-items: center;
  font-size: 18px;
  padding: 5px 20px;
  cursor: pointer;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryChoices {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  padding: 7px 20px;
}

.category:hover {
  background-color: lightgray;
}

.date {
  cursor: pointer;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin-left: 15px;
  border: white;
}

.assignedToChoices {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 200px;
  overflow-y: scroll;
}

.middleGap {
  border-left: 1px solid #d1d1d1;
}

.dueDateAndClearCreateButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0px;
  gap: 25px;
}

.prioButtons {
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

.prioButton,
.prioButtonEdit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.prioButton:hover {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  width: 110%;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.subtaskContainer {
  width: 100%;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  isolation: isolate;
}

.subtaskInput {
  border: 0px !important;
  outline: none;
  width: 80%;
}

.plusIcon {
  cursor: pointer;
}

.subtaskImgContainer {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-right: 17px;
  cursor: pointer;
}

.subTaskIcons {
  cursor: pointer;
}

.gapImgSubtask {
  height: 25px;
  width: 1px;
  background-color:  #d1d1d1;
}

.subtaskList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.subtask {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
}

.subtask img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.clearAndCreateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.clearAndCreateButton > .buttonLight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}

.clearAndCreateButton > .buttonDark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

}


.clearAndCreateButton button {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 10px;
  transition: background 255ms ease-in-out;
}

/* =============================================================== RESPONSIVENESS =================================================================== */
@media (max-width: 1100px) {
  .middleGap {
    display: none;
  }

  .addTaskContainer {
    flex-direction: column;
  }

  .addTaskMainSubContainer > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 720px) {
  .addTaskMainContainer {
    height: calc(100vh - 163px);
  }

  /* .topNavBarRightImg {
    display: none;
  } */

   .addTaskMainSubContainer h1 {
    font-size: 47px;
  }

/*.addTaskMobile {
    background-color: #f6f7f8;
    border: none;
    z-index: 11;
    display: block !important;
    position: fixed;
    top: 110px;
    right: 27px;
    cursor: pointer;
  } */
}

@media(max-width: 450px) {
  .addTaskMainSubContainer > form, .addTaskMainSubContainer > form > div {
    width: 100%;
  }

  .addTaskMainSubContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .prioButtons {
    flex-wrap: wrap;
  }

  .subtaskContainer > input{
    width: 100%;
  }
}

@media(max-width: 400px) {
  .clearAndCreateButton > div:first-of-type {
    display: none;
  }
}
