.legalNoticeContainer *, .helpContainer * {
    box-sizing: border-box;
    font-family: 'Inter';
    color: black;
}

.legalNoticeContainer h1, .helpContainer h1, .helpContainer h2, .legalNoticeContainer h2, .helpContainer h3, .legalNoticeContainer h3, .helpContainer p, .legalNoticeContainer p, .helpContainer li, .legalNoticeContainer li {
    hyphens: auto;
}


.legalNoticeContainer h1, .helpContainer h1 {
    font-size: 61px;
}

.legalNoticeContainer h2, .helpContainer h2 {
    font-size: 27px;
    margin-bottom: 0;
}

.legalNoticeContainer h3, .helpContainer h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.legalNoticeContainer p, .helpContainer p {
    font-size: 16px;
    color: black;
}

.legalNoticeContainer, .helpContainer {
    width: 100%;
    overflow: hidden;
}

.innerHelpContainer, .innerLegalNoticeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    /* overflow: auto; */
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;  
    height: calc(100vh - 89px);
}

.innerLegalNoticeContainerLogin {
    height: calc(100vh - 203px);
}

.legalNoticeContainer ul li, .helpContainer ul li {
    color: black;
    display: list-item;
    list-style-type: circle;
}

/* ================================ RESPONSIVENESS ====================================== */
@media(max-width: 950px) {
    .legalNoticeContainer h1, .helpContainer h1 {
        font-size: 50px;
    }
}

@media(max-width: 720px) {
    .innerHelpContainer, .innerLegalNoticeContainer {
        padding: 1rem 1rem 1rem 1rem;  
        height: calc(100vh - 163px);

    }
    .helpContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .legalNoticeContainer h1, .helpContainer h1 {
    font-size: 40px;
    }

    .legalNoticeContainer h2,.helpContainer h2 {
        font-size: 20px;
        margin-bottom: 0;
    }

    .legalNoticeContainer h3, .helpContainer h3 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .legalNoticeContainer p, .helpContainer p, .legalNoticeContainer li, .helpContainer li {
        font-size: 15px;
    }
}

@media(max-width: 480px) {
    .helpContainer {
        padding: 0;
    }

    .legalNoticeContainer, .helpContainer {
        position: relative;
        top: 0;
        height: inherit;
    }

    .legalNoticeContainer h1, .helpContainer h1 {
        font-size: 35px;
        }
    
    .legalNoticeContainer h2, .helpContainer h2 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .legalNoticeContainer h3, .helpContainer h3 {
        font-size: 15px;
        margin-bottom: 0;
    }

    .legalNoticeContainer p, .helpContainer p, .legalNoticeContainer li, .helpContainer li {
        font-size: 13px;
    }
}
