/* ========================================================================= LOGIN / SIGN UP ============================================================= */
.mainContainerLogin,
.mainContainerSignUp,
.mainContainerForgotPw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}

.signUpField {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
  height: 49px;
}

.signUpField > div:first-of-type {
  width: 153px;
  height: 24px;
  font-size: 20px;
}

.signUpField > button {
  width: 91px;
  height: 49px;
}

.signUpField > button a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 19.2px;
}

.contentContainer {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.displayPageLogin {
  align-items: flex-start;
}

.loginScreen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  width: 580px;
  border-radius: 30px;
  height: 445px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.signUpScreen {
  height: 540px;
  padding-bottom: 10px;
} 

.signUpScreen h1 {
  margin-top: 20px;
}

.signUpScreen > form {
  gap: 15px !important;
}

.loginScreenPw {
  width: 650px;
  height: 370px;
}

.arrowBack {
  position: absolute;
  top: 24px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrowBackLegalNotice {
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.loginHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.loginHeading > h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginHeading2 {
  width: 100%;
  margin-top: 0;
}

.blueLigne {
  height: 3px;
  background-color: #29abe2;
  width: 110px;
}

.loginScreen > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.selectColor {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 21px;
  appearance: none;
  background-image: url(../img/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 0.8rem top 50%;
  background-size: 1rem auto;
  cursor: pointer;
}

.color {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.privacyPolicyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.privacyPolicyContainer > input {
  height: 16px;
  width: 16px;
}

.privacyPolicyContainer > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-size: 16px;
  color: #A8A8A8;
}

.privacyPolicy {
  font-size: 16px;
  color: #29ABE2;
  cursor: pointer;
}

.rememberOrForgetFields {
  display: flex;
  align-items: center;
  gap: 35px;
}

.rememberOrForgetFields > a {
  text-align: center;
}

.checkboxContainer {
  display: flex;
  gap: 15px;
}

.checkboxContainer p {
  margin: 0;
}

.forgotMyPassword {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #29abe2;
  cursor: pointer;
}

.loginButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 10px;
}

.loginButtons > button:last-of-type {
  width: 177px;
}

.policies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }

 .policies > div {
    font-size: 16px;
    color: #A8A8A8;
    cursor: pointer;
    padding-bottom: 1rem;
 }

#forgotPwForm > button {
  width: 237px;
}

 .arrowBack {
  position: absolute;
  top: 24px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 

.loginScreen > span {
    text-align: center;
    width: 80%;

}

.userIdForgotPw {
  display: none;
}

/* =========================================================================== START SCREEN ANIMATION ============================================================= */
.startScreen,
.startSignUpScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 750ms;
    animation-fill-mode: both;
    animation-name: startAnimation;
}

.startSignUpScreen {
  animation: none;
  height: 100px;
  width: 83px;
  background-color: transparent;
  margin-left: 50px;
  margin-top: 25px;

}

@keyframes startAnimation {
  0% {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  10% {
    background-color: transparent;
  }
  100% {
    height: 100px;
    width: 83px;
    background-color: transparent;
    margin-left: 50px;
    margin-top: 25px;
  }
}

.forgotPwScreen{
  animation: none;
  height: 100px;
  width: 83px;
  background-color: transparent;
  margin-left: 50px;
  margin-top: 25px;
}

.logo {
  height: 150px;
  width: 124px;
  opacity: 1;
  z-index: 99;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 400ms;
  animation-fill-mode: both;
  animation-name: startLogo;
}

.logoSignUp {
  animation: none;
  height: 100px;
  width: 83px;
}

@keyframes startLogo {
  0% {
    height: 150px;
  }
  100% {
    height: 100px;
    width: 83px;
  }
}

.logoForgotPwScreen {
  animation: none;
  height: 100px;
  width: 83px;
}

/* ================================== SNACKBAR =======================================*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#passwordReset,#passwordsNotIdentical, #noEmailInsertedPopup, #userDoesNotExistTwo, #sendEmail{
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 280px; /* Set a default minimum width */
  margin-left: -140px; /* Divide value of min-width by 2 */
  background-color: #2A3647; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px 8px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 5; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

#sendEmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sendEmail > img {
  margin-right: 5px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#passwordReset.show, #passwordsNotIdentical.show, #noEmailInsertedPopup.show, #userDoesNotExistTwo.show, #sendEmail.show  {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
  


/* ========================== RESPONSIVENESS  ======================= */
@media (max-width: 900px) {
    .contentContainer {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 780px) {
    .loginScreen, .contentContainer {
        width: 100%;
    }
    .loginHeading > h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 720px) {
  .loginScreen {
    width: 100%;
  }
  .contentContainer {
    padding-left: 50px;
    padding-right: 50px;
  }

  .loginHeading:before {
    bottom: -16px;
  }
}


@media (max-width: 600px) {
  .loginScreen {
    padding: 1rem;
  }
 
  .contentContainer {
    margin-left: 25px;
    margin-right: 25px;
  }

  .startScreen,
  .startSignUpScreen {
    margin-left: 25px !important;
  }

  .arrowBack {
    top: 16px;
    left: 16px;
  } 
  
  .loginScreen {
    height: 420px;
    justify-content: flex-start;
  }

  .signUpScreen {
    height: 500px;
  }

  .signUpScreen > form {
    width: 100%;
  }

  .signUpContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
  }
  .signInField {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .selectColor {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .rememberOrForgetFields {
    display: flex;
    gap: 35px;
  }

  .checkboxContainer {
    display: flex;
    gap: 15px;
  }

  .forgotMyPassword {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29abe2;
  }

  .loginHeading {
    font-size: 45px;
  }

  .loginHeading:before {
    bottom: -11px;
  }
  .contentContainer {
/*     top: -150px;
 */    padding-left: 25px;
    padding-right: 25px;
/*     padding-top: 20px;
 */   }
}

@media (max-width: 480px) {
  @keyframes startAnimation {
    0% {
      width: 100%;
      height: 100%;
      background-color: white;
    }
    10% {
      background-color: transparent;
    }
    100% {
      height: 125px;
      width: 111px;
      background-color: transparent;
    }
  }

  @keyframes startLogo {
    0% {
      height: 150px;
    }
    100% {
      height: 75px;
      width: auto;
    }
  }

  .contentContainer {
    padding-top: 0;
  }

  .loginScreen {
    height: 450px;
  }

 .logo {
    height: 75px !important;
    width: auto;
  }

  .startScreen,
  .startSignUpScreen {
    margin-left: 15px !important;
  }

  .startSignUpScreen{
    animation: none;
    height: 125px;
    width: 111px;
    background-color: transparent;
  }

  .logoSignUp {
    height: 75px;
    width: auto;
  }

  .loginScreen {
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
  }
 
   .rememberOrForgetFields {
    gap: 10;
    width: 90%;
    justify-content: space-between;
  }

  .rememberOrForgetFields p{
    margin: 10px 0;
  }

  .loginButtons {
    display: flex;
    width: 100%;
    position: relative;
    gap: 10px;
 }

  .loginButtons > button {
    margin: 0;
    font-size: 17px;
    width: 130px;
    height: 40px;
 }

  .contentContainer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .arrowBack img{
    width: 25px;
    height: 25px;
  }

  .signUpContainer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .signInField {
    gap: 20px;
  }

  .signInField > span {
    font-size: 20px;
  }

  .signInField > button {
    scale: 0.9;
  }
}

@media (max-width: 380px) {
 .contentContainer {
    margin-left: 1rem;
    margin-right: 1rem;
 }

 .loginHeading > h1 {
    font-size: 2.2rem;
 }
}

@media (max-width: 320px) {
  .rememberOrForgetFields {
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 300px) {
  .rememberOrForgetFields {
    margin-left: 10px;
  }

  .signInField {
    gap: 0;
  }
}


